<div>
  <h3>HotHikuについて</h3>
  <p>（特定の状況で）最高便利なWebアプリケーションフレームワーク、Ruby on Railsの最新版であるバージョン7で追加された<a href="https://turbo.hotwired.dev/handbook/introduction" target="_blank">Hotwire</a>について、検証しつつ、使い勝手を知ってもらうためのアプリです。</p>

  <p>
    改善提案などあればこちらにどしどしお寄せください。
  </p>
  <p>
    <a href="https://github.com/daaaaaai/hot_haiku">https://github.com/daaaaaai/hot_haiku</a>
  </p>

  <p>運営者： <a href="https://github.com/daaaaaai" target="_blank">@daaaaaai</a></p>
</div>

<div class="mt-4">
  <h3>利用規約</h3>
  <ul class="">
    <li>本サービスは実験中のもののため予告なく停止することがあります</li>
    <li>投稿した俳句の著作権は投稿者にありますが、表示や分析などのため本サービス内やその紹介する記事などで自由に利用することご了承ください</li>
    <li>他人の著作権を侵害する投稿や、他人を誹謗中傷するなどの投稿は禁止です。そうした投稿があった際、予告なく削除することがあります</li>
  </ul>
</ul>