<%= render template: "haikus/_form", locals: {haiku: @haiku} %>

<hr>

<div class="">
  <% @haikus.each do |haiku| %>
    <div class="mt-3">
      <%= render haiku %>
    </div>
  <% end %>
  <%= paginate @haikus %>
</div>
